@import "tailwindcss";

:root {
  --foreground: #171717;
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: Antonio, "Antonio Placeholder", sans-serif;
}

/* Custom styles for ultra-bold, condensed text similar to reference */
h1 {
  font-weight: 600;
  font-stretch: ultra-condensed;
  letter-spacing: -0.05em;
}